.main_div{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.4rem;
    margin: auto;
}

.searchBar{
    width: 40%;
}

.text_field{
    width: 100%;
}

.points_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.notification_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile_div_userName{
    font-size: 1.3rem;
}

.profileContainer{
    display: flex;
}


/* MUI images styling */

.coins_image{
    margin-bottom: 0.4rem;
}

.images{
    font-size: 2rem;
}

.top{
    width: 100%;
    margin: auto;
    text-align: center;
}

hr{
    margin: auto 0px;
    height: 2.8rem;
}