:root {
    --blue: #2E4B90;
    --white: #FFFFFF;
}

.sideBarContainer {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 23rem;
    height: 100%;
    background-color: var(--blue);
    z-index: 999; /* Ensure sidebar is above other elements */
}

.sideBarHeader {
    font-size: 2rem;
    padding: 2rem;
    color: var(--white);
}

.sideBarContentsWrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.sideBarContents {
    margin-top: 2rem;
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--white);
}

.sideBarContentsActive {
    background-color: var(--white);
    color: var(--blue);
    padding: 1.6rem;
    width: 100%;
    border-radius: 2rem 0 0 2rem;
}

.sideBarContainerCloseWrapper {
    display: flex;
}

/* Adjust z-index of your components */
.yourComponent {
    position: relative;
    z-index: 1; /* Ensure components are below the sidebar */
}
